/* body {
     color:red !important;
     background:yellow !important;
} */

.mw-highlight pre {
    font-family:"Times" !important;
}
     
.mw-highlight .k,
.mw-highlight .kc,
.mw-highlight .kd,
.mw-highlight .kn,
.mw-highlight .kr,
.mw-highlight .kt,
.mw-highlight .nn,
.mw-highlight .nt,
.mw-highlight .cp {
	color:blue !important;
	font-style:normal !important;
	font-weight:normal !important;
}

.mw-highlight .cpf,
.mw-highlight .sa,
.mw-highlight .sc,
.mw-highlight .se,
.mw-highlight .s {
	color:maroon !important;
	font-style:normal !important;
	font-weight:normal !important;
}

.mw-highlight .cm,
.mw-highlight .c1 {
	color:green !important;
	font-style:normal !important;
}

.mw-highlight .n,
.mw-highlight .nf,
.mw-highlight .nl,
.mw-highlight .na,
.mw-highlight .nb,
.mw-highlight .nc,
.mw-highlight .nn,
.mw-highlight .o,
.mw-highlight .p,
.mw-highlight .lineno {
	color:black !important;
	font-weight:normal !important;
}

.mw-highlight .mi,
.mw-highlight .mf {
	color:red !important;
}


/* github.com */
.highlight span.pl-c {
    color: green !important;
}
.highlight span.pl-c1 {
    color: red !important;
}
.highlight span.pl-k {
    color: blue !important;
}
.highlight span.pl-en {
    color: black !important;
}
.highlight span.pl-s {
    color: maroon !important;
}


span.mcs2,
td.blob-num.js-line-number,
td.blob-code.blob-code-inner.js-file-line {
    font-family:"Times" !important;
}

/*
.container .highlight span.pl-c1 {
color: #ae81ff;
}
.container .highlight span.pl-en {
color: #a6e22e;
}
.container .highlight span.pl-k {
color: #f92672;
}
.container .highlight span.pl-pds {
color: #e6db74;
}
.container .highlight span.pl-s {
color: #e6db74;
}
.container .highlight span.pl-smi {
color: #F8F8F2;
}
.container .highlight span.pl-v {
color: #F8F8F2;
}
article pre {
background-color: #272822;
color: #F8F8F2;
}
td[id^=L] {
background-color: #272822;
color: #868686;
}
td[id^=LC] {
color: #F8F8F2;
}
.blob-num {
border: none;
}
*/
